Weaher1.json
[{"id":"d126dec8.5bbd8","type":"tab","label":"Weather/A","disabled":false,"info":""},{"id":"cb016865.872708","type":"openweathermap","z":"d126dec8.5bbd8","name":"weather","wtype":"current","lon":"","lat":"","city":"Tirana","country":"Albania","language":"en","x":400,"y":100,"wires":[["15b0e935.6a4a67","bac788eb.79b478","c2f86c7a.856f9","45de3a8b.d51034","707419ef.64ff08"]]},{"id":"15b0e935.6a4a67","type":"debug","z":"d126dec8.5bbd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":100,"wires":[]},{"id":"f3a42cec.b6ad","type":"inject","z":"d126dec8.5bbd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":100,"wires":[["cb016865.872708"]]},{"id":"da1bbcb0.23ed9","type":"ui_chart","z":"d126dec8.5bbd8","name":"","group":"1e811847.3bb788","order":1,"width":11,"height":7,"label":"Temp chart","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"45","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":950,"y":240,"wires":[[]]},{"id":"c2f86c7a.856f9","type":"change","z":"d126dec8.5bbd8","name":"Extract Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":300,"wires":[["a866eace.2872c8","17d3c1ae.b52c2e"]]},{"id":"45de3a8b.d51034","type":"change","z":"d126dec8.5bbd8","name":"Extract Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":440,"wires":[["197c1579.9b150b","a0bfc406.c4f598"]]},{"id":"a866eace.2872c8","type":"ui_text","z":"d126dec8.5bbd8","group":"ef8ac40b.2065c8","order":2,"width":11,"height":1,"name":"","label":"Current Humidity","format":"{{msg.payload}}%","layout":"row-spread","x":770,"y":300,"wires":[]},{"id":"17d3c1ae.b52c2e","type":"ui_chart","z":"d126dec8.5bbd8","name":"","group":"ef8ac40b.2065c8","order":1,"width":11,"height":7,"label":"Humidity Chart","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":840,"y":380,"wires":[[]]},{"id":"a0bfc406.c4f598","type":"ui_chart","z":"d126dec8.5bbd8","name":"","group":"b2bf8e06.5af32","order":1,"width":11,"height":7,"label":"Pressure Chart","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"1000","ymax":"1050","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":760,"y":540,"wires":[[]]},{"id":"197c1579.9b150b","type":"ui_text","z":"d126dec8.5bbd8","group":"b2bf8e06.5af32","order":2,"width":11,"height":1,"name":"","label":"Current Pressure","format":"{{msg.payload}} mb","layout":"row-spread","x":710,"y":440,"wires":[]},{"id":"1bcb1e7e.484cf2","type":"ui_text","z":"d126dec8.5bbd8","group":"1e811847.3bb788","order":2,"width":11,"height":1,"name":"","label":"Current Temperature","format":"{{msg.payload}}°C","layout":"row-spread","x":900,"y":160,"wires":[]},{"id":"c08855a0.870ae8","type":"openweathermap","z":"d126dec8.5bbd8","name":"weather","wtype":"current","lon":"","lat":"","city":"Tirana","country":"Albania","language":"en","x":500,"y":1020,"wires":[["74268dee.b99f34","4edd30bc.7e25d","1d71b7c6.9716e8","c474bc64.a6b39","8954be4e.a5178","a181d191.2b879"]]},{"id":"51a81dcf.75c884","type":"inject","z":"d126dec8.5bbd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":1020,"wires":[["c08855a0.870ae8"]]},{"id":"99f308cf.9bebd8","type":"ui_text","z":"d126dec8.5bbd8","group":"89251ead.f94d3","order":4,"width":6,"height":3,"name":"","label":"Weather Info","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":1020,"wires":[]},{"id":"74268dee.b99f34","type":"function","z":"d126dec8.5bbd8","name":"date and time","func":"var currentDateΤime = new Date();\nvar monthDateYear = (currentDateΤime.getDate()) + '/' + (currentDateΤime.getMonth() + 1) + '/' + currentDateΤime.getFullYear()+'  '+(currentDateΤime.getHours() < 10 ? \"0\" : \"\") + currentDateΤime.getHours() + \":\" + (currentDateΤime.getMinutes() < 10 ? \"0\" : \"\") + currentDateΤime.getMinutes() + \":\" + (currentDateΤime.getSeconds() < 10 ? \"0\" : \"\") + currentDateΤime.getSeconds();\nmsg.topic = monthDateYear;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":1260,"wires":[["32579069.7f79b"]]},{"id":"32579069.7f79b","type":"ui_text","z":"d126dec8.5bbd8","group":"89251ead.f94d3","order":6,"width":6,"height":2,"name":"date and time","label":"","format":"{{msg.topic}}","layout":"col-center","x":940,"y":1260,"wires":[]},{"id":"bac788eb.79b478","type":"change","z":"d126dec8.5bbd8","name":"Extract Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tempc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":160,"wires":[["1bcb1e7e.484cf2","da1bbcb0.23ed9"]]},{"id":"707419ef.64ff08","type":"change","z":"d126dec8.5bbd8","name":"Extract Windspeed","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.windspeed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":620,"wires":[["3ae6af2f.2d8e6","dda6da93.d73a58"]]},{"id":"dda6da93.d73a58","type":"ui_chart","z":"d126dec8.5bbd8","name":"","group":"e726151c.a3d348","order":1,"width":11,"height":7,"label":"WindSpeed Chart","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":670,"y":720,"wires":[[]]},{"id":"3ae6af2f.2d8e6","type":"ui_text","z":"d126dec8.5bbd8","group":"e726151c.a3d348","order":2,"width":11,"height":1,"name":"","label":"Current WindSpeed","format":"{{msg.payload}} km/h","layout":"row-spread","x":610,"y":620,"wires":[]},{"id":"4edd30bc.7e25d","type":"change","z":"d126dec8.5bbd8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.detail","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1020,"wires":[["99f308cf.9bebd8"]]},{"id":"6e7fa7dd.d85028","type":"ui_text","z":"d126dec8.5bbd8","group":"89251ead.f94d3","order":3,"width":6,"height":2,"name":"details","label":"","format":"{{msg.description}}","layout":"row-center","x":930,"y":1080,"wires":[]},{"id":"1d71b7c6.9716e8","type":"change","z":"d126dec8.5bbd8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1080,"wires":[["6e7fa7dd.d85028"]]},{"id":"8954be4e.a5178","type":"change","z":"d126dec8.5bbd8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"location.city","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":880,"wires":[["fd60983c.e7ced8"]]},{"id":"c474bc64.a6b39","type":"change","z":"d126dec8.5bbd8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"location.country","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":960,"wires":[["78e9b957.788078"]]},{"id":"fd60983c.e7ced8","type":"ui_text","z":"d126dec8.5bbd8","group":"89251ead.f94d3","order":1,"width":6,"height":1,"name":"City","label":"City","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":880,"wires":[]},{"id":"78e9b957.788078","type":"ui_text","z":"d126dec8.5bbd8","group":"89251ead.f94d3","order":2,"width":6,"height":1,"name":"State","label":"State","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":960,"wires":[]},{"id":"a181d191.2b879","type":"change","z":"d126dec8.5bbd8","name":"cloud","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.clouds","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1160,"wires":[["92745153.c3d07"]]},{"id":"92745153.c3d07","type":"ui_gauge","z":"d126dec8.5bbd8","name":"","group":"89251ead.f94d3","order":5,"width":0,"height":0,"gtype":"compass","title":"Cloud Coverage","label":"%","format":"{{msg.payload}} ","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":960,"y":1160,"wires":[]},{"id":"1e811847.3bb788","type":"ui_group","name":"Temperature","tab":"258c6649.0213da","order":2,"disp":true,"width":"11","collapse":false},{"id":"ef8ac40b.2065c8","type":"ui_group","name":"Humidity","tab":"258c6649.0213da","order":3,"disp":true,"width":"11","collapse":false},{"id":"b2bf8e06.5af32","type":"ui_group","name":"Pressure","tab":"258c6649.0213da","order":4,"disp":true,"width":"11","collapse":false},{"id":"89251ead.f94d3","type":"ui_group","name":"Weather Description","tab":"258c6649.0213da","order":1,"disp":true,"width":"6","collapse":false},{"id":"e726151c.a3d348","type":"ui_group","name":"WindSpeed","tab":"258c6649.0213da","order":6,"disp":true,"width":"11","collapse":false},{"id":"258c6649.0213da","type":"ui_tab","name":"Tirana/Albania","icon":"dashboard","order":1,"disabled":false,"hidden":false}]