Weather2.json
[{"id":"d8e1b274.55dd7","type":"tab","label":"Weather/E","disabled":false,"info":""},{"id":"cdf7f01a.5bf99","type":"openweathermap","z":"d8e1b274.55dd7","name":"weather","wtype":"current","lon":"","lat":"","city":"London","country":"England","language":"en","x":360,"y":100,"wires":[["edcf46aa.c8aa88","578b6c38.1936e4","f5ebf357.84cd7","a069a85.1e3e658","ccd2526.05b7db"]]},{"id":"edcf46aa.c8aa88","type":"debug","z":"d8e1b274.55dd7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":100,"wires":[]},{"id":"e3afef87.4ae23","type":"inject","z":"d8e1b274.55dd7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":100,"wires":[["cdf7f01a.5bf99"]]},{"id":"bdf96f67.75891","type":"ui_chart","z":"d8e1b274.55dd7","name":"","group":"b0a87c33.6d192","order":1,"width":"11","height":"7","label":"Temp chart","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"45","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":910,"y":240,"wires":[[]]},{"id":"f5ebf357.84cd7","type":"change","z":"d8e1b274.55dd7","name":"Extract Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":300,"wires":[["b68e7293.103af","5206a1dd.ca28a"]]},{"id":"a069a85.1e3e658","type":"change","z":"d8e1b274.55dd7","name":"Extract Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":440,"wires":[["85fc6f97.a254a","1c6ec1f2.b0530e"]]},{"id":"b68e7293.103af","type":"ui_text","z":"d8e1b274.55dd7","group":"9e31e8c2.1c36e8","order":2,"width":"11","height":"1","name":"","label":"Current Humidity","format":"{{msg.payload}}%","layout":"row-spread","x":730,"y":300,"wires":[]},{"id":"5206a1dd.ca28a","type":"ui_chart","z":"d8e1b274.55dd7","name":"","group":"9e31e8c2.1c36e8","order":1,"width":"11","height":"7","label":"Humidity Chart","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":800,"y":380,"wires":[[]]},{"id":"1c6ec1f2.b0530e","type":"ui_chart","z":"d8e1b274.55dd7","name":"","group":"ff9b9234.f200c","order":4,"width":"11","height":"6","label":"Pressure Chart","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"1000","ymax":"1050","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":720,"y":540,"wires":[[]]},{"id":"85fc6f97.a254a","type":"ui_text","z":"d8e1b274.55dd7","group":"ff9b9234.f200c","order":5,"width":"11","height":"1","name":"","label":"Current Pressure","format":"{{msg.payload}} mb","layout":"row-spread","x":670,"y":440,"wires":[]},{"id":"c9cf44a0.f17d08","type":"ui_text","z":"d8e1b274.55dd7","group":"b0a87c33.6d192","order":2,"width":"11","height":"1","name":"","label":"Current Temperature","format":"{{msg.payload}}°C","layout":"row-spread","x":860,"y":160,"wires":[]},{"id":"578b6c38.1936e4","type":"change","z":"d8e1b274.55dd7","name":"Extract Temperature","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tempc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":160,"wires":[["c9cf44a0.f17d08","bdf96f67.75891"]]},{"id":"ccd2526.05b7db","type":"change","z":"d8e1b274.55dd7","name":"Extract Windspeed","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.windspeed","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":620,"wires":[["5fc77531.33320c","cb434f20.3f13d"]]},{"id":"cb434f20.3f13d","type":"ui_chart","z":"d8e1b274.55dd7","name":"","group":"f7cf35af.70bea8","order":1,"width":"11","height":"6","label":"WindSpeed Chart","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":630,"y":720,"wires":[[]]},{"id":"5fc77531.33320c","type":"ui_text","z":"d8e1b274.55dd7","group":"f7cf35af.70bea8","order":2,"width":"11","height":"1","name":"","label":"Current WindSpeed","format":"{{msg.payload}} km/h","layout":"row-spread","x":570,"y":620,"wires":[]},{"id":"5870dd16.4b9684","type":"openweathermap","z":"d8e1b274.55dd7","name":"weather","wtype":"current","lon":"","lat":"","city":"London","country":"England","language":"en","x":440,"y":1020,"wires":[["ba747ecb.2b8cb","39d1492d.41ec36","542382f9.d37c5c","dbd5dc6e.b0e03","b8b073fc.2cd72","3a7cd125.31a11e"]]},{"id":"1a261cee.a60b03","type":"inject","z":"d8e1b274.55dd7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1020,"wires":[["5870dd16.4b9684"]]},{"id":"c5210d0f.2abaa","type":"ui_text","z":"d8e1b274.55dd7","group":"24d5cb03.34c1f4","order":4,"width":"6","height":"3","name":"","label":"Weather Info","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":1020,"wires":[]},{"id":"ba747ecb.2b8cb","type":"function","z":"d8e1b274.55dd7","name":"date and time","func":"var currentDateΤime = new Date();\nvar monthDateYear = (currentDateΤime.getDate()) + '/' + (currentDateΤime.getMonth() + 1) + '/' + currentDateΤime.getFullYear()+'  '+(currentDateΤime.getHours() < 10 ? \"0\" : \"\") + currentDateΤime.getHours() + \":\" + (currentDateΤime.getMinutes() < 10 ? \"0\" : \"\") + currentDateΤime.getMinutes() + \":\" + (currentDateΤime.getSeconds() < 10 ? \"0\" : \"\") + currentDateΤime.getSeconds();\nmsg.topic = monthDateYear;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":1260,"wires":[["1598bed6.864c61"]]},{"id":"1598bed6.864c61","type":"ui_text","z":"d8e1b274.55dd7","group":"24d5cb03.34c1f4","order":6,"width":"6","height":"2","name":"date and time","label":"","format":"{{msg.topic}}","layout":"col-center","x":880,"y":1260,"wires":[]},{"id":"39d1492d.41ec36","type":"change","z":"d8e1b274.55dd7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.detail","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1020,"wires":[["c5210d0f.2abaa"]]},{"id":"1161107b.40824","type":"ui_text","z":"d8e1b274.55dd7","group":"24d5cb03.34c1f4","order":3,"width":"6","height":"2","name":"details","label":"","format":"{{msg.description}}","layout":"row-center","x":870,"y":1080,"wires":[]},{"id":"542382f9.d37c5c","type":"change","z":"d8e1b274.55dd7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.description","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1080,"wires":[["1161107b.40824"]]},{"id":"b8b073fc.2cd72","type":"change","z":"d8e1b274.55dd7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"location.city","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":880,"wires":[["e4fc390f.4e51f8"]]},{"id":"dbd5dc6e.b0e03","type":"change","z":"d8e1b274.55dd7","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"location.country","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":960,"wires":[["4cb6b2e7.f1d99c"]]},{"id":"e4fc390f.4e51f8","type":"ui_text","z":"d8e1b274.55dd7","group":"24d5cb03.34c1f4","order":1,"width":"6","height":"1","name":"City","label":"City","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":880,"wires":[]},{"id":"4cb6b2e7.f1d99c","type":"ui_text","z":"d8e1b274.55dd7","group":"24d5cb03.34c1f4","order":2,"width":"6","height":"1","name":"State","label":"State","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":960,"wires":[]},{"id":"3a7cd125.31a11e","type":"change","z":"d8e1b274.55dd7","name":"cloud","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.clouds","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":1160,"wires":[["b6c3a56c.9eec78"]]},{"id":"b6c3a56c.9eec78","type":"ui_gauge","z":"d8e1b274.55dd7","name":"","group":"24d5cb03.34c1f4","order":5,"width":0,"height":0,"gtype":"compass","title":"Cloud Coverage","label":"%","format":"{{msg.payload}} ","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":1160,"wires":[]},{"id":"b0a87c33.6d192","type":"ui_group","name":"Temperature","tab":"6940c6dd.aabf18","order":2,"disp":true,"width":"11","collapse":false},{"id":"9e31e8c2.1c36e8","type":"ui_group","name":"Humidity","tab":"6940c6dd.aabf18","order":3,"disp":true,"width":"11","collapse":false},{"id":"ff9b9234.f200c","type":"ui_group","name":"Pressure","tab":"6940c6dd.aabf18","order":4,"disp":true,"width":"11","collapse":false},{"id":"f7cf35af.70bea8","type":"ui_group","name":"WindSpeed","tab":"6940c6dd.aabf18","order":5,"disp":true,"width":"11","collapse":false},{"id":"24d5cb03.34c1f4","type":"ui_group","name":"Weather Description","tab":"6940c6dd.aabf18","order":1,"disp":true,"width":"6","collapse":false},{"id":"6940c6dd.aabf18","type":"ui_tab","name":"London/England","icon":"dashboard","order":2,"disabled":false,"hidden":false}]